/* Write your CSS here */
.button {
  background-color: transparent;
  border: none;
}
.delete-icon-style {
  height: 28px;
}
.paragraph2 {
  font-size: 12px;
}
.delete-icon-container {
  display: flex;
  width: 130px;
  justify-content: space-between;
}
